.navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
}

.navbar .nav-title {
    display: flex;
    align-items: center;
    gap: 8px;
}
.navbar .nav-title .toggle {
    display: flex;
    align-items: center;
    padding: 4px;
    width: 24px;
    border-radius: 2px;
    transition: 0.25s ease;
}
.navbar .nav-title .toggle:hover {
    background-color: var(--gray-light);
}
.navbar .nav-title .logo img {
    width: 45px;
}
.navbar .nav-title .title {
    font-size: 18px;
}
.navbar .nav-title .title span {
    color: var(--gray-medium);
    font-size: 14px;
}

.navbar .nav-item {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s ease-in-out;
}
.navbar .nav-item .item:hover {
    transition: 0.2s ease-out;
}
.navbar .nav-item .item:hover {
    color: var(--blue);
}
