{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/Work/Nehemia/Project/Code and frameworks/Association Manager/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>D:/Work/Nehemia/Project/Code and frameworks/Association Manager/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
