<div class="side-content">
    <a href="#" class="side-item">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <path
                    d="M39.5,43h-9c-1.381,0-2.5-1.119-2.5-2.5v-9c0-1.105-0.895-2-2-2h-4c-1.105,0-2,0.895-2,2v9c0,1.381-1.119,2.5-2.5,2.5h-9C7.119,43,6,41.881,6,40.5V21.413c0-2.299,1.054-4.471,2.859-5.893L23.071,4.321c0.545-0.428,1.313-0.428,1.857,0L39.142,15.52C40.947,16.942,42,19.113,42,21.411V40.5C42,41.881,40.881,43,39.5,43z"
                    fill="currentColor"
                />
            </svg>
        </span>
        <p>Acceuil</p>
    </a>
    <a href="#" class="side-item">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <path
                    d="M17 2C14.238281 2 12 4.238281 12 7C12 9.761719 14.238281 12 17 12C19.761719 12 22 9.761719 22 7C22 4.238281 19.761719 2 17 2 Z M 32.8125 2C30.050781 2 27.8125 4.238281 27.8125 7C27.8125 9.761719 30.050781 12 32.8125 12C35.574219 12 37.8125 9.761719 37.8125 7C37.8125 4.238281 35.574219 2 32.8125 2 Z M 17 13C15.886719 13 14.855469 13.257813 13.9375 13.71875C15.8125 15.183594 17.03125 17.472656 17.03125 20.03125C17.03125 22.535156 15.871094 24.78125 14.0625 26.25C15.519531 27.007813 16.792969 28.058594 17.78125 29.375C17.304688 28.351563 17.03125 27.230469 17.03125 26.03125C17.03125 22.058594 19.949219 18.742188 23.75 18.125C22.945313 15.148438 20.253906 13 17 13 Z M 32.8125 13C29.574219 13 26.878906 15.132813 26.0625 18.09375C29.980469 18.609375 33.03125 21.972656 33.03125 26.03125C33.03125 27.152344 32.792969 28.21875 32.375 29.1875C33.351563 27.953125 34.574219 26.9375 35.96875 26.21875C34.171875 24.75 33.03125 22.527344 33.03125 20.03125C33.03125 17.519531 34.183594 15.28125 36 13.8125C35.042969 13.300781 33.984375 13 32.8125 13 Z M 9.03125 14.03125C5.71875 14.03125 3.03125 16.71875 3.03125 20.03125C3.03125 23.34375 5.71875 26.03125 9.03125 26.03125C12.34375 26.03125 15.03125 23.34375 15.03125 20.03125C15.03125 16.71875 12.34375 14.03125 9.03125 14.03125 Z M 41.03125 14.03125C37.71875 14.03125 35.03125 16.71875 35.03125 20.03125C35.03125 23.34375 37.71875 26.03125 41.03125 26.03125C44.34375 26.03125 47.03125 23.34375 47.03125 20.03125C47.03125 16.71875 44.34375 14.03125 41.03125 14.03125 Z M 25.03125 20.03125C21.71875 20.03125 19.03125 22.71875 19.03125 26.03125C19.03125 29.34375 21.71875 32.03125 25.03125 32.03125C28.34375 32.03125 31.03125 29.34375 31.03125 26.03125C31.03125 22.71875 28.34375 20.03125 25.03125 20.03125 Z M 9 27C4.039063 27 0 31.035156 0 36L0 39.5C0 39.8125 0.152344 40.125 0.40625 40.3125C0.636719 40.488281 2.84375 42 9 42C11.132813 42 12.792969 41.808594 14.0625 41.5625C14.191406 38.488281 15.566406 35.734375 17.71875 33.8125C16.742188 29.898438 13.210938 27 9 27 Z M 41 27C36.804688 27 33.273438 29.886719 32.28125 33.78125C34.464844 35.707031 35.875 38.492188 36 41.59375C37.261719 41.835938 38.898438 42 41 42C47.15625 42 49.363281 40.488281 49.59375 40.3125C49.847656 40.125 50 39.816406 50 39.5L50 36C50 31.035156 45.964844 27 41 27 Z M 25.03125 33.03125C20.070313 33.03125 16.03125 37.066406 16.03125 42.03125L16.03125 45.53125C16.03125 45.847656 16.183594 46.125 16.4375 46.3125C16.667969 46.488281 18.875 48.03125 25.03125 48.03125C31.1875 48.03125 33.394531 46.488281 33.625 46.3125C33.878906 46.125 34.03125 45.84375 34.03125 45.53125L34.03125 42.03125C34.03125 37.066406 29.996094 33.03125 25.03125 33.03125Z"
                    fill="currentColor"
                />
            </svg>
        </span>
        <p>Association</p>
    </a>
    <a href="#" class="side-item">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
                <path
                    d="M2.101563 23C2.101563 23 2.101563 22.5 2.101563 22.300781C2.101563 20.101563 5.898438 18.101563 9.5 17.398438C9.5 17.398438 9.800781 17 9.800781 16C8 16 4 17 4 17C4 5 6.300781 0 12.5 0C14.398438 0 15 1 15 1C18.398438 1 21 3 21 17C21 17 17.601563 16 15.300781 16C15.300781 17 15.5 17.398438 15.5 17.398438C19.101563 18.101563 22.898438 20.101563 22.898438 22.300781C22.898438 22.5 22.898438 23 22.898438 23C22.898438 24.398438 17.5 25.898438 12.5 25.898438C7.601563 25.800781 2.101563 25.300781 2.101563 23Z"
                    fill="currentColor"
                />
            </svg>
        </span>
        <p>Membre</p>
    </a>
</div>
