.nav-auth {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
}

.nav-auth .nav-logo img {
    width: 48px;
    height: auto;
}

.auth-section {
    display: flex;
    justify-content: center;
    padding-top: 28px;
}

.auth-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px 16px;
}

.auth-container .auth-form,
.auth-container .auth-form .field {
    display: flex;
    flex-direction: column;
}

.auth-container .auth-form {
    gap: 8px;
    padding-bottom: 16px;
    border-bottom: 0.75px solid var(--gray-light);
}

.auth-container .auth-form .field {
    gap: 12px;
}
/* Manage text error */
.auth-container .auth-form .feedback ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    order: 1;
}
.auth-container .auth-form .feedback ul li {
    color: var(--text-error);
    font-size: 12px;
}
.auth-container .auth-form .feedback ul {
    padding: 12px 16px;
    margin-bottom: 8px;
    background-color: var(--background-error);
    border-radius: 4px;
}
.auth-container .auth-form .feedback ul li {
    opacity: 0.8;
    font-size: 14px;
}
/* end */
.auth-container .auth-form .field .checkbox {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    font-size: 12px;
}

.auth-container .auth-redirect {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
}
.auth-container .auth-redirect label {
    color: var(--gray-medium);
}
.auth-container .auth-redirect a {
    color: hsla(215, 75%, 50%, 1);
}
